#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #191919;
}

.table-background {
  background-color: #28282a;
}

.font-color {
  color: #ffffff;
}




